#
# Copyright (c) Sourcy Software & Services GmbH 2015.
#
#     _____ ____   __  __ _____ _____ __  __    (_)____
#    / ___// __ \ / / / // ___// ___// / / /   / // __ \
#   (__  )/ /_/ // /_/ // /   / /__ / /_/ /_  / // /_/ /
#  /____/ \____/ \__,_//_/    \___/ \__, /(_)/_/ \____/
#                                  /____/
#
# Created by armin walland <a.walland@sourcy.io> on 2015-05-20.
#

jira_user=some user
jira_password=some password
jira_url=https://jira.yourcompany.com/rest/api/latest/search?
git_repository=/home/user/development/repo
## this is a list of epic issue ids.
# epics=ISSUE-123 or epics=ISSUE-123,ISSUE-124,ISSUE-125
epics=ISSUE-123
# epics are implemented as custom fields, so the
# custom field ID of your epic field will have some auto
# generated value. the easiest way to find it is to use the advanced
# issue search, type "epic" and look at the autocomplete popup.
# you will see "Epic Link - cf[XXXXX] there. this is the thing
# you're looking for.
epic_custom_field=cf[10147]